.hidden { display: none; }
.value-prop {
  margin: 40px;
}
.columns {
  display: flex;
  align-items: top;
}
.column {
  width: 40%;
  margin-right: auto;
}
h4 {
  font-size: 1.2rem;
}

td{
  border: 1px solid #eaeaea;
  padding: 3px;
}

.incorporate-col-1{
  font-size: 1.5rem;
  font-weight: 700;
  width: 190px;
}

.incorporate-col-2{
  color: #4e9f73;
  font-weight: 700;
}

.incorporate-col-3{
  font-size: 1.0rem;
}

.incorporate-col-4{
  font-size: .85rem;
  width: 30%;
}