<!-- Section 1 -->
<div [class.hidden]="selectedSection !== 1" class="container">
  <div class=value-prop>
    <h1 style="font-weight: 700;">Save time & money by setting up your S-Corp with Thrive</h1>
    <br>
    <div class="columns">
      <div class="column">
        <img alt="complexity image" src="assets/images/complexity_comparisonA.jpg" style="width: 100%;">
      </div>
      <div class="column">
        <img alt="complexity image" src="assets/images/complexity_comparisonB.jpg" style="width: 100%;">
      </div>
    </div>
    <div class="columns" style="font-size: 86%; line-height: 140%;">
      <div class="column">
        <h3 style="color: #8d8d8d; font-style: italic;">Incorporate In Minutes</h3>
        <h4>Here Are the Steps</h4>
        <ol>
          <li>Fill in a few details about your business</li>
          <li>We'll prepare and submit your documents for incorporation to the state</li>
          <li>You'll receive your official documents in 1-2 weeks</li>
        </ol>
        <h4>What You'll Get</h4>
        <ul>
          <li>Articles of Incorporation</li>
          <li>Personalized Bylaws</li>
          <li>Federal Tax ID (EIN)</li>
          <li>Personal consultation</li>
        </ul>
      </div>
      <div class="column">
        <h3 style="color: #8d8d8d; font-style: italic;">Easy Upkeep</h3>
        <h4>Get Paid</h4>
        <ul>
          <li>Pay yourself a salary of your choice</li>
          <li>Take profit distributions whenever you want</li>
        </ul>
        <h4>Quarterly Filings</h4>
        <ul>
          <li>Quarterly Estimated Taxes (IRS Form 1120-W)</li>
          <li>Payroll Taxes (IRS Forms 940 &amp; 941)</li>
        </ul>
        <h4>Annual Filings</h4>
        <ul>
          <li>Corporate Income Tax Return (IRS Form 1120)</li>
          <li>Schedule K-1 Form</li>
          <li>Annual Statement of Information</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- Section 2 -->
<div [class.hidden]="selectedSection !== 2" class="container" style="padding: 5% 20%;">
  <!-- LLC -->
  <div [class.hidden]="myThrivePreferences.typeCorp != 'llc'">
    <h2>Let's set up your LLC.</h2>
  </div>

  <!-- S-Corp -->
  <div [class.hidden]="myThrivePreferences.typeCorp != 'scorp'">
    <h2>Let's set up your S-Corporation.</h2>
  </div>

  <!-- C-Corp -->
  <div [class.hidden]="myThrivePreferences.typeCorp != 'ccorp'">
    <h2>Let's set up your C-Corporation.</h2>
  </div>
  
  <form>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputEmail4">Company name</label>
        <input type="text" class="form-control" name="name" [(ngModel)]="myThrivePreferences.corpInfo.name">
      </div>
      <div class="form-group col-md-6">
        <label for="inputEmail4">Business purpose</label>
        <input type="text" class="form-control" name="purpose" [(ngModel)]="myThrivePreferences.corpInfo.purpose">
      </div>
      <div class="form-group col-md-6">
        <label for="inputEmail4">Organizer</label>
        <input type="text" class="form-control" name="organizer" [(ngModel)]="myThrivePreferences.corpInfo.organizer">
      </div>
      <div class="form-group col-md-6">
        <label for="inputEmail4">Members/Managers</label>
        <input type="text" class="form-control" name="members" [(ngModel)]="myThrivePreferences.corpInfo.members">
      </div>
      <div class="form-group col-md-12">
        <label for="inputAddress">Legal address of the company</label>
        <input type="text" class="form-control" name="inputAddress" [(ngModel)]="myThrivePreferences.corpInfo.address1">
      </div>
      <div class="form-group col-md-12">
        <label for="inputAddress2">Address 2</label>
        <input type="text" class="form-control" name="inputAddress2" [(ngModel)]="myThrivePreferences.corpInfo.address2">
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputCity">City</label>
          <input type="text" class="form-control" name="inputCity" [(ngModel)]="myThrivePreferences.corpInfo.city">
        </div>
        <div class="form-group col-md-4">
          <label for="inputState">State</label>
          <select name="inputState" class="form-control" [(ngModel)]="myThrivePreferences.corpInfo.state">
            <option selected>Choose...</option>
            <option>CA</option>
            <option>DE</option>
          </select>
        </div>
        <div class="form-group col-md-2">
          <label for="inputZip">Zip</label>
          <input type="text" class="form-control" name="inputZip" [(ngModel)]="myThrivePreferences.corpInfo.zip">
        </div>
      </div>
    </div>
  </form>
</div>

<!-- Section 6 -->
<div [class.hidden]="selectedSection !== 3" class="container" style="padding: 5% 20%;">
  <h2>Are you ready to submit your incorporation application?</h2><br>
  <h3>Review your company information:</h3>
  <div class="container">
    <b>Company name:</b> {{myThrivePreferences.corpInfo.name}} <br>
    <b>Registered agent:</b> {{myThrivePreferences.corpInfo.regAgent}} <br>
    <b>Purpose:</b> {{myThrivePreferences.corpInfo.purpose}} <br>
    <b>Organizer:</b> {{myThrivePreferences.corpInfo.organizer}} <br>
    <b>Members:</b> {{myThrivePreferences.corpInfo.members}} <br>
    <b>Management structure:</b> {{myThrivePreferences.corpInfo.manageStruct}} <br>
    <b>Address 1:</b> {{myThrivePreferences.corpInfo.address1}} <br>
    <b>Address 2:</b> {{myThrivePreferences.corpInfo.address2}} <br>
    <b>City:</b> {{myThrivePreferences.corpInfo.city}} <br>
    <b>State:</b> {{myThrivePreferences.corpInfo.state}} <br>
    <b>Zipcode:</b> {{myThrivePreferences.corpInfo.zip}}
  </div><br>
  <div class="container">
    <button type="button" class="btn btn-secondary btn-lg" [disabled]="selectedSection === 1" (click)="prevClicked()">Previous</button>
    <button class="btn btn-success btn-lg" type="submit" (click)="applyIncorp()">Apply</button>
  </div>
</div>

<!-- Section 7 -->
<div [class.hidden]="selectedSection !== 4" class="container" style="padding: 5% 20%;">
  <h1 style="text-align:center">Congratulations</h1> 
  <h2 style="text-align:center">You have successfully applied to incorporate your company!</h2>
</div>

<!-- Previous | Next -->
<br>
<div [class.hidden]="selectedSection > totalNumPages" class="container" style="padding-left: 20%;">
  <button type="button" class="btn btn-secondary btn-lg" [disabled]="selectedSection === 1" (click)="prevClicked()">Previous</button>
  <button type="button" class="btn btn-primary btn-lg" (click)="nextClicked()">Next</button>
</div>
