<!-- Section 1 -->
<div [class.hidden]="selectedSection !== 1" class="container">
  <div class=value-prop>
    <h1 style="font-weight: 700;">Save time & money by setting up your S-Corp with Thrive</h1>
    <div style="width: 100%;">
      <img alt="complexity image" src="assets/images/complexity_comparisonSS.png" style="width: 100%;">
    </div>
    <br><br>
    <table>
      <tbody>
        <tr>
          <td class="incorporate-col-1 table-head">Our services</td>
          <td class="incorporate-col-2 table-head">How it works</td>
          <td class="incorporate-col-3 table-head">What you get</td>
        </tr>
        <tr>
          <td class="incorporate-col-1">
            Incorporate in Minutes
            <div>$100 one time fee</div>
          </td>
          <td class="incorporate-col-2">
            Share a few details about your business. We'll submit the forms and you'll receive official docs within weeks.
          </td>
          <td class="incorporate-col-3">
            <ul style="margin-bottom: 0; padding-left: 20px;">
              <li>Articles of Incorporation</li>
              <li>Personalized Bylaws</li>
              <li>Federal Tax ID (EIN)</li>
              <li>Personal consultation</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td class="incorporate-col-1">
            Maintain Your Corporation
            <div>$16 per month</div>
          </td>
          <td class="incorporate-col-2">
            Once incorporated, we'll handle your personal payroll and all the quarterly filings to keep you compliant.
          </td>
          <td class="incorporate-col-3">
            <ul style="margin-bottom: 0; padding-left: 20px;">
              <li>Pay yourself salary & profit distributions</li>
              <li>Auto-file quarterly filings (IRS 1120-W)</li>
              <li>Auto-file payroll taxes (IRS 940 &amp; 941)</li>
              <li>Annual statement of information, K-1 Form</li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- Section 2 -->
<div [class.hidden]="selectedSection !== 2" class="container" style="padding: 5% 20%;">
  <h2>Let's set up your S-Corporation.</h2>
  <h5>Just one page... we promise!</h5>
  <br>
  <form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="organizer">Your full name</label>
        <input type="text" class="form-control mb-2" name="organizer" #organizer="ngModel" [(ngModel)]="myThrivePreferences.corpInfo.organizer" required>
        <div *ngIf="organizer.errors && (organizer.dirty || organizer.touched)" class="alert alert-danger input-group mb-2">
          <span [hidden]="!organizer.errors.required">
            Full name is required!
          </span>
        </div>
      </div>
      <div class="form-group col-md-6">
        <label for="organizer">Your email</label>
        <input type="text" class="form-control mb-2" name="email" #email="ngModel" [(ngModel)]="myThrivePreferences.corpInfo.email" pattern="^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$" required>
        <div *ngIf="email.errors && (email.dirty || email.touched)" class="alert alert-danger input-group mb-2">
          <span [hidden]="!email.errors.required">
            Email is required!
          </span>
          <span [hidden]="email.errors.required">
            Email is not valid!
          </span>
        </div>
      </div>
      <div class="form-group col-md-6">
        <label for="legalName">Company legal name <i class="icon" matTooltip="Please enter the company name exactly as you wish it to appear in legal documents." matTooltipPosition="right" class="material-icons">info</i></label>
        <input type="text" class="form-control mb-2" name="legalName" #legalName="ngModel" [(ngModel)]="myThrivePreferences.corpInfo.legalName" required>
        <div *ngIf="legalName.errors && (legalName.dirty || legalName.touched)" class="alert alert-danger input-group mb-2">
          <span [hidden]="!legalName.errors.required">
            Company name is required!
          </span>
        </div>
      </div>
      <div class="form-group col-md-6">
        <label for="tradeName">Company trade name (if different) <i class="icon" matTooltip="A trade name is any name used in the course of business that doesn’t include the full legal name of the business. For example, McDonald’s is the trade name of the company legally registered as McDonald’s Corporation." matTooltipPosition="right" class="material-icons">info</i></label>
        <input type="text" class="form-control mb-2" name="tradeName" [(ngModel)]="myThrivePreferences.corpInfo.tradeName">
      </div>
      <div class="form-group col-md-6">
        <label for="workType">Type of Work</label>
        <select name="workType" [(ngModel)]="myThrivePreferences.corpInfo.workType" required>
          <option *ngFor="let occupation of OCCUPATIONS" value={{occupation}}>
            {{occupation}}
          </option>
        </select>
      </div>
      <div class="form-group col-md-6">
        <label for="purpose">Business purpose (if other)</label>
        <input [disabled]="!businessPurposeDisabled()" type="text" class="form-control mb-2" name="purpose" [(ngModel)]="myThrivePreferences.corpInfo.purpose">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-12">
        <label for="inputAddress">Company address (for legal purposes)</label>
        <input type="text" class="form-control mb-2" name="inputAddress" #inputAddress="ngModel" [(ngModel)]="myThrivePreferences.corpInfo.address1" required>
        <div *ngIf="inputAddress.errors && (inputAddress.dirty || inputAddress.touched)" class="alert alert-danger input-group mb-2">
          <span [hidden]="!inputAddress.errors.required">
            Address is required!
          </span>
        </div>
      </div>
      <div class="form-group col-md-12">
        <label for="inputAddress2">Address 2</label>
        <input type="text" class="form-control mb-2" name="inputAddress2" [(ngModel)]="myThrivePreferences.corpInfo.address2">
      </div>
      <div class="form-group col-md-4">
        <label for="inputCity">City</label>
        <input type="text" class="form-control mb-2" name="inputCity" #inputCity="ngModel" [(ngModel)]="myThrivePreferences.corpInfo.city" required>
        <div *ngIf="inputCity.errors && (inputCity.dirty || inputCity.touched)" class="alert alert-danger input-group mb-2">
          <span [hidden]="!inputCity.errors.required">
            City is required!
          </span>
        </div>
      </div>
      <div class="form-group col-md-4">
        <label for="inputState">State</label>
        <select class="form-control mb-2" name="inputState" #inputState="ngModel" [(ngModel)]="myThrivePreferences.corpInfo.state" required>
          <option *ngFor="let state of STATES" value={{state}}>
            {{state}}
          </option>
        </select>
        <div *ngIf="inputState.errors && (inputState.dirty || inputState.touched)" class="alert alert-danger input-group mb-2">
          <span [hidden]="!inputState.errors.required">
            State is required!
          </span>
        </div>
      </div>
      <div class="form-group col-md-4">
        <label for="inputZip">Zip</label>
        <input type="text" class="form-control mb-2" name="inputZip" #inputZip="ngModel" [(ngModel)]="myThrivePreferences.corpInfo.zip" pattern="^[0-9][0-9][0-9][0-9][0-9]$" required>
        <div *ngIf="inputZip.errors && (inputZip.dirty || inputZip.touched)" class="alert alert-danger input-group mb-2">
          <span [hidden]="!inputZip.errors.required">
            Zip is required!
          </span>
          <span [hidden]="inputZip.errors.required">
            Invalid zip
          </span>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-12">
        <label for="capitalContribution">Capital Contribution <i class="icon" matTooltip="Please enter the total fair market value (FMV) of all cash and other assets you plan to transfer to the new S-Corporation." matTooltipPosition="right" class="material-icons">info</i></label>
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <span class="input-group-text">$</span>
          </div>
          <input type="number" class="form-control" name="capitalContribution" #capitalContribution="ngModel" [(ngModel)]="myThrivePreferences.corpInfo.capitalContribution" required>
        </div>
        <div *ngIf="capitalContribution.errors && (capitalContribution.dirty || capitalContribution.touched)" class="alert alert-danger input-group mb-2">
          <span [hidden]="!capitalContribution.errors.required">
            Capital contribution is required!
          </span>
        </div>
      </div>
      <div class="form-group col-md-6">
        <label style="height: 5rem" for="wagesDate">Date corporation will begin paying wages</label>
        <input mdInput [matDatepicker]="wagesDatePicker" [(ngModel)]="myThrivePreferences.corpInfo.wagesDate" name="wagesDate">
        <mat-datepicker-toggle matSuffix [for]="wagesDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #wagesDatePicker></mat-datepicker>
      </div>
      <div class="form-group col-md-6">
        <label style="height: 5rem" for="numberEmployees">Estimate the maximum number of employees you will hire in the next 12 months</label>
        <input type="number" class="form-control mb-2" name="numberEmployees" #numberEmployees="ngModel" [(ngModel)]="myThrivePreferences.corpInfo.numberEmployees" required>
        <div *ngIf="numberEmployees.errors && (numberEmployees.dirty || numberEmployees.touched)" class="alert alert-danger input-group mb-2">
          <span [hidden]="!numberEmployees.errors.required">
            Number of employees is required!
          </span>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-12">
        <div>
          <label for="heavyVehicle">Does your corporation own a vehicle with a taxable gross weight of 55,000 pounds or more?</label>
        </div>
        <select name="heavyVehicle" [(ngModel)]="myThrivePreferences.corpInfo.heavyVehicle" required>
          <option *ngFor="let response of objectKeys(TRUE_FALSE)" value={{TRUE_FALSE[response]}}>
            {{response}}
          </option>
        </select>
      </div>
      <div class="form-group col-md-12">
        <div>
          <label for="restrictedRetail">Does your business make or sell alcohol, tobacco or firearms?</label>
        </div>
        <select name="restrictedRetail" [(ngModel)]="myThrivePreferences.corpInfo.restrictedRetail" required>
          <option *ngFor="let response of objectKeys(TRUE_FALSE)" value={{TRUE_FALSE[response]}}>
            {{response}}
          </option>
        </select>
      </div>
      <div class="form-group col-md-12">
        <div>
          <label for="businessLicense">Do you need help applying for any relevant business licenses?</label>
        </div>
        <select name="businessLicense" [(ngModel)]="myThrivePreferences.corpInfo.businessLicense" required>
          <option *ngFor="let response of objectKeys(TRUE_FALSE)" value={{TRUE_FALSE[response]}}>
            {{response}}
          </option>
        </select>
      </div>
    </div>


    <div class="payment container-fluid py-3">
      <div class="row">
        <div class="col-12 col-sm-8 mx-auto">
          <div id="pay-invoice" class="card">
            <div class="card-body">
              <div class="invoice-wrapper">
                <div class="invoice-box a"><h3>Invoice</h3></div>
                <div class="invoice-box b">
                  <span class="price">$100</span>
                  <div>Incorporation fee</div>
                </div>
                <div class="invoice-box c">
                  <span class="price">$16 / month</span>
                  <div>Maintenance fee</div>
                </div>
              </div>
              <hr>
              <p id="trial">Try maintenance features free with no obligation for 30 days.</p>
              <hr>
              <div class="form-group text-center">
                <ul class="list-inline">
                  <li class="list-inline-item"><i class="text-muted fab fa-cc-visa fa-2x"></i></li>
                  <li class="list-inline-item"><i class="fab fa-cc-mastercard fa-2x"></i></li>
                  <li class="list-inline-item"><i class="fab fa-cc-amex fa-2x"></i></li>
                  <li class="list-inline-item"><i class="fab fa-cc-discover fa-2x"></i></li>
                </ul>
              </div>
              <div class="form-group has-success">
                <label for="cc-name" class="control-label mb-1">Name on card</label>
                <input id="cc-name" name="cc-name" #ccName="ngModel" type="text" class="form-control cc-name valid" autocomplete="cc-name" aria-required="true" aria-invalid="false" aria-describedby="cc-name-error" [(ngModel)]="myThrivePreferences.ccInfo.ccName" required>
                <div *ngIf="ccName.errors && (ccName.dirty || ccName.touched)" class="alert alert-danger input-group mb-2">
                  <span [hidden]="!ccName.errors.required">
                    Please enter the name on card
                  </span>
                </div>
              </div>
              <div class="form-group">
                <label for="cc-number" class="control-label mb-1">Card number</label>
                <input id="cc-number" name="cc-number" #ccNumber="ngModel" type="tel" class="form-control cc-number identified visa" value="" autocomplete="cc-number" [(ngModel)]="myThrivePreferences.ccInfo.ccNumber" required>
                <div *ngIf="ccNumber.errors && (ccNumber.dirty || ccNumber.touched)" class="alert alert-danger input-group mb-2">
                  <span [hidden]="!ccNumber.errors.required">
                    Please enter the card number
                  </span>
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <div class="form-group">
                    <label for="cc-exp" class="control-label mb-1">Expiration</label>
                    <input id="cc-exp" name="cc-exp" #ccExp="ngModel" type="tel" class="form-control cc-exp" value="" placeholder="MM / YY" autocomplete="cc-exp" [(ngModel)]="myThrivePreferences.ccInfo.ccExp" pattern="[0-9][0-9]?/[0-9][0-9]" required>
                    <div *ngIf="ccExp.errors && (ccExp.dirty || ccExp.touched)" class="alert alert-danger input-group mb-2">
                      <span [hidden]="!ccExp.errors.required">
                        Please enter the card expiration
                      </span>
                      <span [hidden]="ccExp.errors.required">
                        Please enter a valid month and year
                      </span>
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <label for="x_card_code" class="control-label mb-1">Security code</label>
                  <div class="input-group">
                    <input id="x_card_code" name="x_card_code" #xCardCode="ngModel" type="tel" class="form-control cc-cvc" value="" autocomplete="off" [(ngModel)]="myThrivePreferences.ccInfo.xCardCode" pattern="[0-9][0-9][0-9][0-9]?" required>
                    <div *ngIf="xCardCode.errors && (xCardCode.dirty || xCardCode.touched)" class="alert alert-danger input-group mb-2">
                      <span [hidden]="!xCardCode.errors.required">
                        Please enter the security code
                      </span>
                      <span [hidden]="xCardCode.errors.required">
                        Please enter a valid security code
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="x_zip" class="control-label mb-1">Postal code</label>
                <input id="x_zip" name="x_zip" #xZip="ngModel" type="text" class="form-control" value="" autocomplete="postal-code" [(ngModel)]="myThrivePreferences.ccInfo.xZip" pattern="[0-9][0-9][0-9][0-9][0-9]" required>
                <div *ngIf="xZip.errors && (xZip.dirty || xZip.touched)" class="alert alert-danger input-group mb-2">
                  <span [hidden]="!xZip.errors.required">
                    Please enter the ZIP/Postal code
                  </span>
                  <span [hidden]="xZip.errors.required">
                    Please enter a valid ZIP/Postal code
                  </span>
                </div>
              </div>
              <div>
                <button id="payment-button" type="submit" class="btn btn-lg btn-info btn-block" >
                  <i class="fa fa-lock fa-lg"></i>&nbsp;
                  <span id="payment-button-amount">Submit Application</span>
                  <span id="payment-button-sending" style="display:none;">Sending…</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </form>
</div>

<!-- Section 3 -->
<div [class.hidden]="selectedSection !== 3" class="container" style="padding: 5% 20%;">
  <h1>Thank you for your interest in Thrive</h1> 
  <br>
  <p>Thrive is currently in beta, and unfortunately we are not accepting new customers at this time. You have been added to our waitlist.</p>
  <p><em>Rest assured, your personal information and payment information will not be stored.</em></p>
</div>

<!-- Previous | Next -->
<br>
<div [class.hidden]="selectedSection > totalNumPages" class="container" style="padding-left: 20%;">
  <button type="button" class="btn btn-secondary btn-lg" [disabled]="selectedSection === 1" (click)="prevClicked()">Previous</button>
  <button type="button" class="btn btn-primary btn-lg" (click)="nextClicked()">Next</button>
</div>
