<div class="container">
  <div id="hero">
  	<div id="hero-text">
	    <h1>Self Employed?</h1>
	    <p class="subtitle">Find out how much an S-Corporation will save you on taxes</p>
	    <button class="btn btn-primary btn-lg" (click)="calculateSavings()">Calculate Savings</button>
	    <p class="small top-space">Already incorporated? We can help you <a href="">manage your regular filings</a></p>
	</div>
  </div>
  <p class="value-prop">We'll save you <span class="highlighted-number">$4,380</span> on average</p>
  
</div>