<app-home></app-home>
<div class="container">
  <div class="card-deck">
    
    <div class="card">
      <img class="card-img-top" src="assets/images/ThriveMockups5.0-1.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title"><a href="incorporate">Incorporate as a business</a></h5>
        <p class="card-text">Incorporate now to save on your taxes.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>

    <div class="card">
      <img class="card-img-top" src="assets/images/ThriveMockups5.0-2.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">More savings</h5>
        <p class="card-text">Maximizes unique deductions across diverse industries: real estate, rideshare, web design, creative and performing arts, construction and more.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="assets/images/ThriveMockups5.0-3.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Monitor your income</h5>
        <p class="card-text">Smartly track your income so you know what you make.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div><br>

  <div class="card-deck">
      <div class="card">
        <img class="card-img-top" src="assets/images/ThriveMockups5.0-4.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Automatically track your expenses</h5>
          <p class="card-text">Stay on top of all your expenses and categorize them throughout the year so you don't miss a thing.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="assets/images/ThriveMockups5.0-5.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Withhold for taxes</h5>
          <p class="card-text">Automate your tax withholdings, and prepare 1099 and 1040 tax forms for IRS filings.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="assets/images/ThriveMockups5.0-1.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
</div>