<div class="container" [class.hidden]="submittedFinancials">
  <form id="calculator">
    <div class="form-row">
      <div class="form-group">
        <label for="firstName">First Name</label>
        <div class="input-group mb-3">
          <input type="text" class="form-control" name="firstName" aria-label="First name" [(ngModel)]="myThrivePreferences.financials.firstName">
        </div>
      </div>

      <div class="form-group">
        <label for="lastName">Last Name</label>
        <div class="input-group mb-3">
          <input type="text" class="form-control" name="firstName" aria-label="First name" [(ngModel)]="myThrivePreferences.financials.lastName">
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group">
        <label for="email">Email</label>
        <div class="input-group mb-3">
          <input type="text" class="form-control" name="email" aria-label="Email" [(ngModel)]="myThrivePreferences.financials.email">
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group">
        <label for="state">Where is your business located?</label>
        <div class="input-group mb-3">
          <select name="state" [(ngModel)]="myThrivePreferences.financials.state">
            <option *ngFor="let state of STATES" value={{state}}>
              {{state}}
            </option>
          </select>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group">
        <label for="state">What type of work do you do?</label>
        <div class="input-group mb-3">
          <select name="workType" [(ngModel)]="myThrivePreferences.financials.workType">
            <option *ngFor="let occupation of OCCUPATIONS" value={{occupation}}>
              {{occupation}}
            </option>
          </select>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group">
        <label for="income">How much 1099 or business income did you make last month?</label><br>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">$</span>
          </div>
          <input type="text" class="form-control" name="income" aria-label="Amount (to the nearest dollar)" [(ngModel)]="myThrivePreferences.financials.monthlyIncome">
        </div>
      </div>
    </div>

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#exampleModalCenter" (click)="submitAnnualIncome()">
      Calculate Potential Savings
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Estimated Gross Annual Income</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
              <label for="income">We estimated your gross annual income. Does this look right?</label>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">$</span>
                </div>
                <input type="text" class="form-control" name="annualIncome" aria-label="Amount (to the nearest dollar)" [(ngModel)]="myThrivePreferences.financials.annualIncome">
              </div>
            </div>
        </div>
        <div class="modal-footer">
          <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
          <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="submitFinancialInformation()">Confirm</button>
        </div>
      </div>
    </div>
    </div>
  </form>
</div>



<!-- Estimated Tax Savings -->
<div class="container" [class.hidden]="!submittedFinancials">
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">Estimated Savings</h1>
        <p class="lead">Setting up a corporate entity can shield you from self-employment taxes and protect you from liability in the case of a lawsuit.</p>
      </div>
      
      <div class="container">
        <div class="card-deck mb-3 text-center">
          <div class="card mb-3 box-shadow gold-box">
            <div class="card-header">
              <h4 class="my-0 font-weight-normal">S Corporation</h4>
            </div>
            <div class="card-body">
              <p>Estimated Taxes:</p>
              <h1 class="card-title pricing-card-title">{{scorpTaxes.totalTaxes | currency}}<small class="text-muted">/ yr</small></h1>
              <button type="button" class="btn btn-lg btn-block btn-primary" (click)="incorporate()">Incorporate Now</button>
              <ul class="list-unstyled mt-3 mb-4">
                <li>Liability protection</li><br>
                <li>State filing (and filing fee) required for creation</li><br>
                <li>Ongoing state filings and fees</li><br>
                <li>Strict ongoing corporate formalities requirements</li><br>
                <li>Perpetual duration of the business</li><br>
                <li>Ease of raising capital</li><br>
                <li>Ease of adding owners/transferring ownership interest</li><br>
                <li>Pass-through income/loss</li>
              </ul>
            </div>
          </div>

          <div class="card mb-3 box-shadow">
            <div class="card-header">
              <h4 class="my-0 font-weight-normal">Sole Proprietorship</h4>
            </div>
            <div class="card-body">
              <p>Estimated Taxes:</p>
              <h1 class="card-title pricing-card-title">{{spTaxes.totalTaxes | currency}}<small class="text-muted">/ yr</small></h1>
              <a href="">Learn More</a>
              <ul class="list-unstyled mt-3 mb-4">
                <li>NO Liability protection</li><br>
                <li>Owner has full control of management and operations</li><br>
                <li>Pass-through income/loss</li>
              </ul>
            </div>
          </div>
      
          <div class="card mb-3 box-shadow">
            <div class="card-header">
              <h4 class="my-0 font-weight-normal">LLC</h4>
            </div>
            <div class="card-body">
              <p>Estimated Taxes:</p>
              <h1 class="card-title pricing-card-title">{{llcTaxes.totalTaxes | currency}}<small class="text-muted">/ yr</small></h1>
              <a href="">Learn More</a>
              <ul class="list-unstyled mt-3 mb-4">
                <li>Liability protection</li><br>
                <li>State filing (and filing fee) required for creation</li><br>
                <li>Ongoing state filings and fees</li><br>
                <li>Flexibility in who manages the business</li><br>
                <li>Pass-through income/loss</li>
              </ul>
            </div>
          </div>
      
          <div class="card mb-3 box-shadow">
            <div class="card-header">
              <h4 class="my-0 font-weight-normal">C Corporation</h4>
            </div>
            <div class="card-body">
              <p>Estimated Taxes:</p>
              <h1 class="card-title pricing-card-title">{{ccorpTaxes.totalTaxes | currency}}<small class="text-muted">/ yr</small></h1>
              <button type="button" class="btn btn-lg btn-block btn-outline-primary">Incorporate</button>
              <ul class="list-unstyled mt-3 mb-4">
                <li>Liability protection</li><br>
                <li>State filing (and filing fee) required for creation</li><br>
                <li>Ongoing state filings and fees</li><br>
                <li>Strict ongoing corporate formalities requirements</li><br>
                <li>Perpetual duration of the business</li><br>
                <li>Ease of raising capital</li><br>
                <li>Ease of adding owners/transferring ownership interest</li><br>
                <li>Business taxed at entity level</li><br>
                <li>Double taxation</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
</div>
